div { 
  padding: 2px; 
  border: 3px; 
  margin: 6px; 
}

#Body1 {
  border: 2px; 
  border-color: blue;
}

#Div1 {
  background-color: blue; 
  border-color: black; 
  height:50px;
}

#Div2 {
  border-color: black; 
  height:50px; 
  position: absolute; 
  left: 30px; 
  top: 100px; 
  width: 50px; 
  height: 60px;
}

#Span1 {
  width: 50px; 
  height:70px; 
  background-color: red; 
  border: 3px; 
  border-color: black; 
  margin: 3px;
}

#Label1 {
  background-color: green; 
}

#Img1 {
 border-color: red; 
 border: 3px;
 position: absolute; 
 left: 150px; 
 top: 200px; 
 width: 48px; 
 height: 48px;
}