div { 
  padding: 2px; 
  border: 2px; 
  margin: 6px; 
}

#Body1 {
  border: 12px; 
  border-color: red;
}

#Div1 {
  background-color: yellow; 
  border-color: black; 
  height:60px;
}

#Div2 {
  border-color: black; 
  height:40px; 
  position: absolute; 
  left: 40px; 
  top: 120px; 
  width: 600px; 
  height: 65px;
}

#Span1 {
  width: 50px; 
  height:70px; 
  background-color: red; 
  border: 3px; 
  border-color: black; 
  margin: 3px;
}

#Label1 {
  background-color: orange; 
}

#Img1 {
 border-color: blue; 
 border: 2px;
 position: absolute; 
 left: 250px; 
 top: 50px; 
 width: 48px; 
 height: 48px;
}